<div class="four wide column center aligned votes">
  <div class="ui statistic">
    <div class="value">
      {{article.votes}}
    </div>
    <div class="label">
      Points
    </div>
  </div>
</div>
<div class="twelve wide column">
  <a class="ui large header" href="{{article.link}}">
    {{article.title}}
  </a>
  <ul class="ui big horizontal list voters">
    <li class="item">
      <a href (click)="voteUp()">
        <mat-icon svgIcon="thumbs-up">
          upvote
        </mat-icon>
      </a>
    </li>
    <li>
      <a href (click)="voteDown()">
        <mat-icon svgIcon="thumbs-down">
          downvote
        </mat-icon>
      </a>
    </li>
  </ul>
</div>
