<form >
  <h3 class="ui header">Add a link</h3>
  <div>
    <label class="mat-optgroup-label" for="title">Title:</label>
    <mat-form-field>
      <input class="example-full-width" matInput name=title #newTitle>
    </mat-form-field>
  </div>
  <div >
    <label class="mat-optgroup-label" for="link">Link:</label>
      <mat-form-field>
        <input class="example-full-width" matInput name="link" #newLink>
      </mat-form-field>
  </div>
  <button mat-raised-button color="warm" (click)="addArticle(newTitle, newLink)" >
    Submit link
  </button>
</form>

<div class="ui grid posts">
  <app-article *ngFor="let article of articles" [article]="article"></app-article>
</div>
